.clearfix:after{ content: ""; display: block; clear: both;}
#container{width: 1000px; height: auto; margin:20px auto ;}
#header{ width:1000px; height: 125px; }
#logo{width: 292px; height: 36px;  float:left;  margin: 45px 0px 0px 20px;} 
#search{width: 222px; height: 36px; float:right;  margin: 45px 20px 0px 0px;}
#menu{text-align: center; width: 1000px; height: 60px; float:left; margin:45px 0px 38px 0px; background-color: #3d3d3d;}
#slider{width: 1000px; height:402px; float: left; margin:38px 20px 0px 20px; }
#generalbox{ width: 1000px; height: 180px; float: left; margin:38px 20px 0px 0px; }
.box{ width: 225px; height: 180px; float: left; margin: 0px 0px 0px 20px; background-color: green;}
#generalboxtext{ width: 1000px; height: 180px; float: left; margin:0px 20px 0px 0px;}
.boxtext{  width: 225px; height: 180px; float: left; margin: 0px 0px 0px 20px; background-color: rgb(230, 228, 228);}
.deneme{text-indent:  10px; overflow: hidden; width: 205px; height: 160px; margin: 10px 10px 10px 10px; }
#footer{color: whitesmoke ; text-align: center; width: 1000px; height: 60px; float:left; margin: 38px 0px 0px 0px; background-color: #555555;}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 65%;
    background: #f1f1f1;
    border: 1px solid black;
}

form.example button[type=submit] {
        float: left;
        width: 20%;
        padding: 10px;
        background: #3d3d3d;
        color: white;
        font-size: 17px;
        border-left: none; 
        cursor: pointer;
        border: 1px solid black;
    }

    form.example button:hover {
        background: #555555;
    }

    nav {
margin: 0px 0px 0px 205px;
        position: relative;
        width: 590px;
        height: 60px;
        background-color: #3d3d3d;
        
        font-size: 0;
    }
    nav a {
        text-align: center;
        line-height: 50px;
        height: 100%;
        font-size: 15px;
        display: inline-block;
        position: relative;
        z-index: 1;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: white;
        cursor: pointer;
    }

    nav .animation {
        position: absolute;
        height: 100%;
        top: 0;
        z-index: 0;
        transition: all .5s ease 0s;
    }
   
    a:nth-child(1) {
        width: 100px;
    }
    a:nth-child(2) {
        width: 110px;
    }
    a:nth-child(3) {
        width: 100px;
    }
    a:nth-child(4) {
        width: 160px;
    }
    a:nth-child(5) {
        width: 120px;
    }
    nav .start-home, a:nth-child(1):hover~.animation {
        width: 100px;
        left: 0;
        background-color: #555555;
    }
    nav .start-about, a:nth-child(2):hover~.animation {
        width: 110px;
        left: 100px;
        background-color: #666666;
    }
    nav .start-blog, a:nth-child(3):hover~.animation {
        width: 100px;
        left: 210px;
        background-color: #777777;
    }
    nav .start-portefolio, a:nth-child(4):hover~.animation {
        width: 160px;
        left: 310px;
        background-color: #888888;
    }
    nav .start-contact, a:nth-child(5):hover~.animation {
        width: 120px;
        left: 470px;
        background-color: #999999;
    }

